.warning{
    background-color: orange;
}

.cancel{
    background-color: red;
}

.submit{
    background-color: green;
}

button{
    height: 30px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 12px;
    font-weight: 700;
}