.container-box{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

button{
    font-size: 12px;
}

.user-list{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

.active-only-button{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgb(54, 54, 54);
    border: 1px solid black;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.toggle-btn{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    background-color: rgb(54, 54, 54);
    border: 1px solid black;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

mat-icon{
    cursor: pointer;
}

a{
    color: #000;
}

h3{
    font-weight: 500;
}

mat-paginator{
    margin-top: 50px;
}