<div class="container-box">
    <h2>Users</h2>
    <button mat-flat-button  class="active-only-button" (click)="changeShowOptions()">Toggle</button>
    <div class="user-list">
        <div class="user-card-container" *ngFor="let user of pageSlice" [hidden]="decider(user)">
            <div class="user-card" [style.background-color]="getColor(user.active)">

                    <h3>
                        User details
                        <mat-icon [routerLink]="['/edit', user.id]">
                            edit
                        </mat-icon>
                    </h3>

                    <div>Name: {{user.firstname}} {{user.lastname}}</div>
                    <div>Status: {{getStatus(user.active)}}</div>

                    <br/>

                    <button mat-flat-button (click)="changeStatus(user)" class="toggle-btn">Change status</button>
                    <nav mat-tab-nav-bar>
                        <a mat-tab-link [routerLink]="['/users/contact-info', user.id]" (click)="onSelect(user)">Contact Info</a>
                        <a mat-tab-link [routerLink]="['/users/company-info', user.id]" (click)="onSelect(user)">Company Info</a>
                    </nav>
            </div>
        </div>    
    </div>
    <mat-paginator [length]="this.users.length"
              [pageSize]="3"
              [pageSizeOptions]="[3,6,9]"
              (page)="OnPageChange($event)"
              aria-label="Select page">
    </mat-paginator> 
</div>

<router-outlet></router-outlet>