<h2>Users</h2>
<div class="container-box">
    <button mat-flat-button  class="active-only-button" (click)="changeShowOptions()">Toggle</button>
    <div class="cards">
        <div class="user-card-container" *ngFor="let user of users" [hidden]="decider(user)">
            <div *ngIf="user.active===true" class="active-name user-card">
                    <h3>User details<mat-icon [routerLink]="['/edit', user.id]">edit</mat-icon></h3>
                    <div>Name: {{user.firstname}} {{user.lastname}}</div>
                    <div>Status: Active</div>
                    <br/>
                    <div><a [routerLink]="['/contact-info', user.id]" (click)="onSelect(user)">Contact Info</a> | <a [routerLink]="['/company-info', user.id]" (click)="onSelect(user)">Company Info</a></div>
                    <br/>
                    <button mat-flat-button (click)="changeStatus(user)" class="toggle-btn">Change status</button>
            </div>
            <div *ngIf="user.active===false" class="inactive-name user-card">
                    <h3>User details<mat-icon [routerLink]="['/edit', user.id]">edit</mat-icon></h3>
                    <div>Name: {{user.firstname}} {{user.lastname}}</div>
                    <div>Status: Inactive</div>
                    <br/>
                    <div><a [routerLink]="['/contact-info', user.id]" (click)="onSelect(user)">Contact Info</a> | <a [routerLink]="['/company-info', user.id]" (click)="onSelect(user)">Company Info</a></div>
                    <br/>
                    <button mat-flat-button (click)="changeStatus(user)" class="toggle-btn">Change status</button>
            </div>
        </div>
    </div>
</div>