<form [formGroup]="addresses">
    <div class="form-label">
        <label>
            Address Line:
        </label>
        <textarea formControlName="addressLine" class="input-text"></textarea>
        <div *ngIf="this.addresses.get('addressLine').errors?.['required']" class="red">
            Address line is required.
        </div>
    </div>

    <div class="form-label">
        <label>
            City:
        </label>
        <input type="text" formControlName="zip" class="input-text">
    </div>

    <div class="form-label">
        <label>
            Zip:
        </label>
        <input type="text" formControlName="zip" class="input-text">
    </div>
</form>