.container-box{
    margin: 30px 0;
    min-width: 500px;
}

.user-card{
    height: 200px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    font-size: 12px;
}

.cards{
    display: flex;
    gap: 3em;
}

.active-name{
    background-color: rgb(109, 196, 109);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inactive-name{
    background-color: rgb(83, 85, 83);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active-only-button{
    height: 30px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.toggle-btn{
    height: 30px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}