body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(139, 96, 163);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

[hidden]{
    display: none !important;
}
html, body { height: 100%; }
body { margin: 0;}
